*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#root{
  flex: 1;
}
.form{
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 2px solid white;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

.form_con{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inp{
  display: flex;
  flex-direction: column;
}
.inp label{
  align-self: start;
}

input{
  padding: 10px;
}
button{
  padding: 10px;
  border-radius: 10px;
  border: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px;
}

.menu_con{
  display: flex;
  align-items: center;
  gap:10px
}

.active{
  border-bottom: 2px solid blue;
  font-weight: bold;
  color: blue;
}

.inactive{
  color: black;
}

.table_con{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-top: 20px;
  padding: 0 40px;
  gap: 10px;
}

.lay_div{
  height: 100%;
}

.table_list{
  width: 100%;
  border-collapse: collapse;
}

.table_list , th , td{
  border: 1px solid lightblue;
}
th,td{
  padding: 10px;
}
.btn_td{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit_btn{
  background-color: lightsteelblue;
}

.del_btn{
  background-color: red;
  color: whitesmoke;
}